.container {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 25px;
}

.list {
  display: flex;
  padding-inline-start: unset;
  margin: 40px 17px 63px;
}

.element {
  list-style: none;
  margin: 0 20px;
}

.icon {
  font-size: 40px;
  color: #262626;
  line-height: 80px;
  transition: .5s;
  padding-right: 14px;
}

.name {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 30px;
  color: #262626;
  letter-spacing: 4px;
  transition: .5s;
}

.link {
  text-decoration: none;
  display: block;
  width: 210px;
  height: 80px;
  padding-top: 18px;
  background: #fff;
  text-align: left;
  padding-left: 20px;
  transform: rotate(-30deg) skew(25deg) translate(0,0);
  transition: .5s;
  box-shadow: -20px 20px 10px rgba(0,0,0,.5);
}
.link:before {
  content: '';
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #b1b1b1;
  transform: .5s;
  transform: rotate(0deg) skewY(-45deg);
}
.link:after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: #b1b1b1;
  transform: .5s;
  transform: rotate(0deg) skewX(-45deg);
}

.link:hover {
  transform: rotate(-30deg) skew(25deg) translate(20px,-15px);
  box-shadow: -50px 50px 50px rgba(0,0,0,.5);
}

.element:hover .icon {
  color: #fff;
}

.element:hover .name {
  color: #fff;
}

.element:hover:nth-child(1) .link{
  background: #3b5998;
}
.element:hover:nth-child(1) .link:before{
  background: #365492;
}
.element:hover:nth-child(1) .link:after{
  background: #4a69ad;
}

.element:hover:nth-child(2) .link{
  background: #00aced;
}
.element:hover:nth-child(2) .link:before{
  background: #097aa5;
}
.element:hover:nth-child(2) .link:after{
  background: #53b9e0;
}

.element:hover:nth-child(3) .link{
  background: #8639A8;
}
.element:hover:nth-child(3) .link:before{
  background: #773294;
}
.element:hover:nth-child(3) .link:after{
  background: #a757c9;
}

.element:hover:nth-child(4) .link{
  background: #e4405f;
}
.element:hover:nth-child(4) .link:before{
  background: #d81c3f;
}
.element:hover:nth-child(4) .link:after{
  background: #e46880;
}
