.print-ln {
  --size: 1.5vmin;

  font-size: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e4bb68;
  margin: 0;
  padding: 0;
}

.white {
  color: white;
  margin: 0;
  padding: 0;
}

.red {
  color: #e06c75;
  margin: 0;
  padding: 0;
}

.blue {
  color: #61afef;
  margin: 0;
  padding: 0;
}

.lines {
  display: flex;
  flex-direction: column;
  text-align: center;
  animation: move 4s infinite;
  margin: 0;
  padding: 0;
}

.line {
  position: relative;
  top: calc(4*var(--size));
  margin: 0;
  padding: 0;
}

.line-0 {
  color: #ff8800;
  animation: fade-out-zero 4s infinite;
  opacity: 1;
}

.line-1 {
  color: rgb(56, 212, 255);
  animation: fade-out-one 4s infinite;
  opacity: 0;
}

.line-2 {
  color: #c678dd;
  animation: fade-out-two 4s infinite;
  opacity: 0;
}

.line-3 {
  color: #a9b0bd;
  animation: fade-out-three 4s infinite;
  opacity: 0;
}

@keyframes move {
  25% {
    transform: translatey(calc(-2.6*var(--size)));
  }
  50% {
    transform: translatey(calc(-5.3*var(--size)));
  }
  75% {
    transform: translatey(calc(-8*var(--size)));
  }
}

@keyframes fade-out-zero {
  20% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
}

@keyframes fade-out-one {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

@keyframes fade-out-two {
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
}

@keyframes fade-out-three {
  55% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
}
