.container {
  /* background: #1f2024; */
  background: var(--background-color);
  min-height: 100vh;
  min-width: 100vh;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.triangle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6vh;
  -webkit-animation: rotate 60000ms linear infinite;
          animation: rotate 60000ms linear infinite;
}
.triangle-outer {
  position: absolute;
  width: 66vh;
  height: 57.16vh;
}
.triangle-outer::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 100%;
  background: var(--accent-color-1);
  -webkit-animation: slide 3500ms linear infinite;
          animation: slide 3500ms linear infinite;
}
.triangle-inner {
  width: 64vh;
  height: 55.6vh;
  background: var(--background-color);
  transform: translateY(2px);
}
.triangle-inner::before {
  position: absolute;
  width: 30%;
  height: 100%;
  background: var(--accent-color-1);
  -webkit-animation: slide 3500ms linear infinite;
          animation: slide 3500ms linear infinite;
}
.triangle .clip {
  -webkit-clip-path: polygon(0 100%, 100% 100%, 50% 0);
          clip-path: polygon(0 100%, 100% 100%, 50% 0);
}

@-webkit-keyframes slide {
  0% {
    transform: translateX(-20vh);
  }
  100% {
    transform: translateX(60vh);
  }
}

@keyframes slide {
  0% {
    transform: translateX(-20vh);
  }
  100% {
    transform: translateX(60vh);
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
